<template>
  <div class="landing-page">
    <div class="landing-page__container">
      <h1 class="landing-page__head">نیوکاش</h1>
      <p class="landing-page__desc">
        اولین پلتفرم جست و جوی آنلاین بلیط هواپیما
      </p>
      <TicketDetails />
    </div>
  </div>
</template>

<script>
import TicketDetails from "./TicketDetails";
export default {
  components: {
    TicketDetails,
  },
};
</script>

<style scoped>
.landing-page {
  display: flex;
  justify-content: center;
}
.landing-page__container {
  width: 80%;
  height: calc(100vh - 150px);
  background-image: url(../../assets/images/bg2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px 0px;
}
.landing-page__head,
.landing-page__desc {
  color: white;
}
.landing-page__head{
  font-size: 35px;
}
.landing-page__desc{
  margin: 8px 0px 40px;
}
</style>