<template>
  <button>{{ value }}</button>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
button {
  background-color: #367ff2;
  color: white;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}
button:hover {
  background-color: #115eda;
}
</style>