<template>
  <div class="home">
    <Landing />
  </div>
</template>

<script>
import Landing from "../components/Landing";

export default {
  name: "HomeView",
  components: {
    Landing
  }
};
</script>
