<template>
  <header class="header">
    <div class="container">
      <div class="header__logo">
        <h2>نیوکاش</h2>
      </div>
      <div class="header__nav">
        <nav>
          <ul>
            <li v-for="(nav, index) in navs" :key="index">
              <router-link :to="nav.to">
                {{ nav.title }}
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__translate">
        <ul>
          <li v-for="(item, index) in translateItems" :key="index">
            <button>{{ item.title }}</button>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data: () => ({
    navs: [
      { title: "خانه", to: "/" },
      { title: "آژانس ها", to: "/" },
      { title: "بلاگ", to: "/" },
      { title: "تماس با ما", to: "/" },
    ],
    translateItems: [
      { title: "EN", to: "/" },
      { title: "FA", to: "/" },
      { title: "AB", to: "/" },
    ],
  }),
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px;
}
.container {
  width: 80%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  border-radius: 15px;
}
.header__nav ul {
  display: flex;
  gap: 25px;
}
.header__nav ul li a {
  color: black;
}
.header__translate ul {
  display: flex;
  gap: 18px;
}
.header__translate ul li button {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: ease-in-out 0.4s;
}
.header__translate ul li button:hover {
  background-color: #3b84f5;
  color: white;
}
</style>