<template>
  <div class="ticket-details">
    <form action="#">
      <div class="input-boxs">
        <div class="input-box" v-for="(input, index) in inputs" :key="index">
          <input
            :type="input.type"
            v-model="input.value"
            :placeholder="input.title"
          />
        </div>
      </div>
      <Button value="جست و جو" />
    </form>
  </div>
</template>

<script>
import Button from "../../Button";

export default {
  data: () => ({
    inputs: [
      { title: "مبدا", type: "text", value: "" },
      { title: "مقصد", type: "text", value: "" },
      { title: "تاریخ (yyyy - mm - dd)", type: "text", value: "" },
      { title: "تعداد مسافر", type: "number", value: "" },
    ],
  }),
  components: { Button },
  computed: {
    ticketDetails() {
      return {
        start: this.inputs[0].value,
        destination: this.inputs[1].value,
        date: this.inputs[2].value,
        passengers: this.inputs[3].value,
      };
    },
  },
};
</script>

<style scoped>
.ticket-details {
  background-color: #fff;
  border-radius: 10px;
  width: 55%;
  padding: 25px;
}
.ticket-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ticket-details .input-boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.ticket-details .input-boxs .input-box {
  width: 47%;
}
.ticket-details .input-boxs .input-box input {
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid white;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.ticket-details .input-boxs .input-box input:focus {
  outline: 0px;
  border: 2px solid #83b3ff;
}
</style>