<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "./components/Header";
export default {
  components: {
    Header,
  },
};
</script>

<style>
@font-face {
  font-family: kalameh;
  src: url("./assets/fonts/Kalameh-Regular.ttf");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bgColor: #f3f4f6
  --txtColor: #f3f4f6
}
body{
  direction: rtl;
  background-color: #f3f4f6;
  font-family: kalameh;
  height: 100vh;
  padding: 20px 0px;
}
a{
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
button,input{
  font-family: kalameh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
